
html {
    background: linear-gradient(to bottom, rgb(115, 115, 172), beige);
    font-family: "Stack Sans Text", sans-serif;
    color: beige;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #ddd9d9;
    font-family: "Stack Sans Text", sans-serif;
}

a {
    color: #690000;
    text-decoration: none;
}


form {
    width: 60vw;
    max-width: 400px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
}

.color {
    background-color: #f3f3f3;
    opacity: 0.9;
    width: 60%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    color: black;
    margin-bottom: 8px;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    width: 60%;
    max-width: 300px;
    height: 2em;
    font-size: 1.1rem;
    background-color: #690000;
    border: none;
    color: white;
    border-radius: 10px;
    margin: 1em auto;
    cursor: pointer;
}


.inline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#sound {
    width: 200px;
}


.incorrect input {
    border: 2px solid red;
}

#error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


button {
    cursor: pointer;
}

.center {
    text-align: center;
}

p {
  color: black;
}